<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <H1>Welcome to my Website</H1>
      <h3>Carl Jancell - Web Developer</h3>
    </center>
  </body>
</html>
